
*
{
    -fx-primary : white;
    -fx-pane : blue;
}


.root {
    -fx-background-color: -fx-primary;

}

.bluepane{
    -fx-background-color: -fx-pane;
}

.text-field{
    -fx-text-fill: #333333;
}

.header-section {
    -fx-background-color: #F4B41A;
    -fx-font-family: "Bookman Old Style";
}

.travelexpertslabel  {
    -fx-font-size: 25px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.formlabel
{
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-effect: glow;
}

.account {
    -fx-font-size: 13px;
    -fx-background-color: transperant;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.formButton{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

}

.formButton:hover{
    -fx-background-color:
            rgba(192, 197, 196, 0.71),
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

}

.table-view{
    -fx-effect: innershadow(gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
}

/*.switchButton {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}*/

Labels{

    -fx-font-size: 13px;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: black;

}
.switchButton
 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #083aa5 0%, #062c7f 100%),
            #3e63b2,
            #0a47cc,
            radial-gradient(center 50% 50%, radius 100%, #0c58fc, #396fe5);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}